.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .img-responsive {
    max-width: 60%; /* or to whatever you want here */
    max-height: auto; /* or to whatever you want here */
  }
      /* start of desktop styles */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .img-responsive {
      min-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
    .img-responsive {
      min-width: 30%;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .img-responsive {
      min-width: 10%;
    }
}